<html>
<head>
<title>Itemised Bill</title>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Itemised Bill</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/cellC">CellC</a></li>
        <li><a href="/Vodacom">Vodacom</a></li>
        <li><a href="/MTN ">MTN</a></li>
      </ul>
    </div>
  </nav>

{{{body}}}
</body>

</html>
