
<h1>Cell C Itemised Bill:</h1>
<ul class="row">

  <li class="col s4" style="border-bottom: 1px solid black">DATE</li>
  <li class="col s4" style="border-bottom: 1px solid black">NUMBER</li>
  <li class="col s4" style="border-bottom: 1px solid black">DURATION</li>
  {{#bill}}
<li class="col s4">{{date}}</li>
<li class="col s4">{{number}}</li>
<li class="col s4">{{duration}} seconds</li>
{{/bill}}

<li class="col s8" style="border-top: 1px solid black">Total Duration: </li>
<li class="col s4 " style="border-top: 1px solid black">{{total}} Seconds</li>
</ul>
